.faded{
  opacity: 0.5 !important;
  -webkit-transition: opacity 0.5s linear;
}

.faded:hover{
  opacity: 1.0 !important;
  -webkit-transition: opacity 0.5s linear;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.term-offer{
  background-color: #EDEFF4;
  border: 1px solid #D8DFEA;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.term-offer h1{
  color: #3B5998;
}

.term-click{
  cursor: pointer;
  color: #3B5998;
  font-weight: bold;
}

.term-click:hover{
  text-decoration: underline;
}